__pycache__/
*.py[cod]
*.sqlite3
*.egg-info/
*.pot
.env
.venv/
build/
dist/
docs/_build/
docs/locale/
MANIFEST
node_modules/
staticfiles/
.tox/
tests/coverage_html/
tests/.coverage*
tests/report/
tests/screenshots/
