__pycache__/
*.py[cod]
*.sqlite3
*.egg-info/
*.pot
*.dump
*.dump.age
*.tar.age
*.partial
.env
.venv/
build/
dist/
docs/_build/
docs/locale/
MANIFEST
media/
node_modules/
staticfiles/
.tox/
tests/coverage_html/
tests/.coverage*
tests/report/
tests/screenshots/
